<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342101207098-j6qq41dk4rjkltsnv81bhentec5ni9m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342101207098-j6qq41dk4rjkltsnv81bhentec5ni9m8</string>
	<key>API_KEY</key>
	<string>AIzaSyA4PDSZM3Ayy6kc4EK4aW5dyD_jXzsE0Cc</string>
	<key>GCM_SENDER_ID</key>
	<string>342101207098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santosenoque.untitled</string>
	<key>PROJECT_ID</key>
	<string>delfood-c9ca2</string>
	<key>STORAGE_BUCKET</key>
	<string>delfood-c9ca2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342101207098:ios:d341e592f5a61118636d03</string>
</dict>
</plist>